/* current playlist screen media */
/*  
 * font stacks from - 10 definitive font stacks
 * http://georgebutler.com/blog/typography/10-definitive-web-font-stacks-for-designers/
*/
/* portfolio style -- portfolio-04.css */

/* responsive code from codeitdown.com */



nav { 
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
    text-align: center;
     
   
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    overflow: hidden;
    margin: auto;
    align-content: center;
    background-color: #403D3B;
    border-radius: 0;
    width: 100%;
        
}

li {
    display: inline-block;
    
  
}

nav li a {
    display: block;
    color: #FFFEFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #7F7976;
    background-color: #FFFEFF;
}

.active {
    background-color: #FFFEFF;
}

article {
    margin: 5px 70px 100px 80px;
}
section p, ul, ol {
    font-family: "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    }
blockquote p {
    font-family: "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
    font-size: 22px;
    color: #403D3B;
}
span.normal {
    font-family: "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
    font-size: smaller;
}

@media(max-width: 1580px) {
    section p, ul, ol {
    font-size: 1.0em;
    line-height: 1.4;
    }
    blockquote p {
    font-size: 1.2em;
}
}    

@media(max-width: 980px) {
    article p, ul, ol {
    font-size: 0.9em;
    line-height: 1.3;
    }
        blockquote p {
    font-size: 1.1em;
}
    aside {
        display: none;
    }
    figure {
        display: none;
    }
    nav ul {
    display: block;

    }
    nav ul li {
    display: block;
    }
    nav ul li a {
    padding-left: 125px;
    padding-right: 25px; 
    border: 1px dashed gray;
    font-size: large;
    display: block;
    width: 400px;
    }
    article {
    margin: 5px 30px 100px 30px;
    }
}    

/* main body code */

body {
    background-color: #FFFEFF
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size:32px;
    font-weight: 200;
    padding-left: 0px;
    color: #403D3B;
    text-align: center;
}
h2 {
    font-family: Didot, serif;
    color: #403D3B;
    font-size: 24px;
    font-style: italic;
     padding-left: 0px;
     
}
h3, h4 {
    font-family: Helvetica, Arial, sans-serif;
    color: #a64848;
    font-size: 22px;
   
    padding-left: 0px;
    font-variant: small-caps;
}

/* figures */
figure {
    max-width: 250px;
    min-width: 150px;
    float: right;
    padding: ;
    background-color: #FFFEFF;
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    border: 1px #BFB6B1;
    
    text-align: center;
    box-shadow: 1px 1px 1px 1px #FFFEFF;
    
}
figure img {
     opacity: 0.9;
     width: 100%;
}

section {
    font-family: Georgia, helvetica;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
